.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
}

.takeAwayContainer {
    
    border-bottom: 1.5px solid black;
    padding-right: 15px;
    margin-top: 20px;
}