.container {
  display: flex;
  flex-direction: column;
}

.infoContainer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 20px;
}

.container .img {
  min-height: 350px;
  width: 300px;
  margin-left: 20px;
}

.chapterContainer {
  width: 80%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}